@model DEMOO.Models.Product

@{
    ViewBag.Title = "Details";
}

<html>
<head>
    <link href="~/assets/css/products.css" rel="stylesheet" />
</head>
<body>
    <h2 style="text-align: center; margin-bottom: 0px;">Details</h2>

    <div>
        <h4 style="margin-bottom: 0px; margin-top: 0px; padding-left: 2rem">Products</h4>
        <hr />
        <dl class="form-horizontal" style="margin-top: 0px ">
            <dt>
                @Html.DisplayNameFor(model => model.NamePro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NamePro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DecriptionPro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DecriptionPro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Size)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Size)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Madein)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Madein)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lens)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lens)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImagePro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImagePro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category1.NameCate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category1.NameCate)
            </dd>

        </dl>
    </div>
    <p style="padding-left: 2rem">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>