
@{
    ViewBag.Title = "Details";
    Layout = null;
}

<title>The Purists Club</title>
<link href="~/assets/css/shop.css" rel="stylesheet" />
<link href="~/assets/css/kinh-mat.css" rel="stylesheet" />
<link href="~/assets/css/cart.css" rel="stylesheet" />
<link href="~/assets/css/product-kinh.css" rel="stylesheet" />

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">CHI TIẾT SẢN PHẨM</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img style="width: 100%;" src="~/Images/@Model.ImagePro">
        </div>
        <div class="col-md-6">
            <h4>Tên sản phẩm: @Model.NamePro</h4>
            <p style="text-align: justify">
                <span style="font-weight: bold">Mô tả:</span> @Model.Description
            </p>
            <p class="price">
                Giá bán: <span style="color:red; font-size:24px;">
                    @Model.NamePro
                    VNĐ
                </span>
            </p>
            <a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new {id = Model.ProductID })">
                ĐẶT MUA
            </a>
        </div>
    </div>
</div>



<title>The Purists Club</title>
<link href="~/assets/css/shop.css" rel="stylesheet" />
<link href="~/assets/css/kinh-mat.css" rel="stylesheet" />
<link href="~/assets/css/cart.css" rel="stylesheet" />
<link href="~/assets/css/product-kinh.css" rel="stylesheet" />
<body>
    <div class="container">
        <div class="inner">
            <main>
                <div class="img-col">
                    <img style="width: 100%;" src="~/Images/@Model.ImagePro">
                </div>
                <div style="margin-right: 200px;">
                    <div class="product-info">
                        <h5>@Model.NamePro</h5>
                        <div class="product-info-header">
                            <p class="product--avaliable">CODE: @Model.NamePro|</p>
                            <p class="price">@Model.NamePro VNĐ</p>
                        </div>
                        <div class="product-info-main underline">
                            <p>@Model.Size</p>
                            <p>@Model.Size</p>
                            <p>@Model.Madein</p>
                            <p>@Model.Material</p>
                        </div>
                        <div class="product-info-footer">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter icon-uncircle"></i>
                            <i class="fa-brands fa-tumblr icon-uncircle"></i>
                            <i class="fa-brands fa-pinterest"></i>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>